.bcf-professionals-modal {
  margin-top: 30px;
}

.bcf-professionals-modal h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--bcf--bg-color-tertiary);
}

.bcf-professionals-modal h3 {
  color: var(--bcf--font-color-tertiary);
  margin-bottom: 15px;
}

.bcf-professionals-modal-buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}