#clients-listing-section {
  padding: 20px 0;
}

.bcf-clients-cards-modal {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
}

.bcf-search-bar-message {
  font-size: 28px;
  color: var(--bcf--font-color-tertiary);
  margin-bottom: 15px;
}

.bcf-professionals-count-info {
  color: var(--bcf--font-color-tertiary);
  margin-bottom: 20px;
}

@media(max-width: 576px) {
  .bcf-search-bar-message {
    font-size: 20px;
  }
}