.bcf-specialty-card {
  border: 2px solid var(--bcf--bg-color-primary);
  color: var(--bcf--font-color-quaternary);
  border-radius: 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.bcf-specialty-card-icons {
  display: flex;
  align-items: center;
}

.bcf-specialty-card-icons img {
  margin-left: 10px;
}